@font-face {
    font-family: 'GoyangIlsan R';
    src: url('GoyangIlsanR-Regular.woff2') format('woff2'),
        url('GoyangIlsanR-Regular.woff') format('woff'),
        url('GoyangIlsanR-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

